
agm-map {
  height: 540px;
  width: 980px;
  position: absolute;
  bottom: 0px;
  right:0px;
}

.inputField{
	margin: 0 0 10px 10px;
}

.calcButton{
	margin: 0 0 10px 10px;
}

.searchButton{
	margin: 0 0 0 5px;
}

.price{
margin-top: 20px;
margin-bottom: 20px;
}

.inputForm {
	margin-top: 50px
}

.inputSearch{
	position: absolute;
	bottom:560px;
	right: 180px;
	width: 500px;
}